@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

$text-color: #505168;
$border-color: #eaefd3;
$link-color: #505168;
$panel-header-bg: #dcc48e;

body {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: $text-color;
  background-color: #b3c0a4;
}

h1 {
  font-family: 'Lilita One', sans-serif;
}

h2,
h3 {
  font-weight: 700;
}

.container {
  max-width: 64rem;
  margin: 0 auto;
}

.home {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, min-content) auto min-content;
  border-left: thin solid $border-color;
  border-right: thin solid $border-color;
  background-color: white;
}

.header {
  grid-column: 1 / span 2;
  font-size: 3rem;
  background-size: cover;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url(https://unsplash.com/photos/p_kICQCOM4s/download?force=true&w=1920);
  background-position: 0px;
  text-shadow: 0 0 8px #27233a;
  border-bottom: thin solid $border-color;

  sup {
    font-size: 0.8rem;
  }
}

.notifications {
  grid-column: 2;

  .panel ul {
    max-height: 12rem;
    overflow-y: scroll;
    position: relative;

    .hack {
      background: linear-gradient(transparent, #fff);
      pointer-events: none;
      display: block;
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2rem;
      padding: 0;
      border: none;
    }
  }

  p {
    color: lighten($text-color, 33%);
    font-size: 0.9rem;
  }

  .toggle {
    margin-right: 1rem;
  }
}

.companies {
  grid-row: 2 / span 2;
  border-right: thin solid $border-color;
}

.interactions {
  border-top: thin solid $border-color;
  background-color: #dcc48e;
}

.footer {
  grid-column: 1 / span 2;
  border-top: thin solid $border-color;
  text-transform: uppercase;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.panel {
  & > header {
    display: flex;
    justify-content: space-between;
    background-color: $panel-header-bg;
    padding: 0rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.025rem;
  }

  li {
    padding: 1rem 0.5rem;
    & + li {
      border-top: thin solid $border-color;
    }
  }
}

.notification h3 {
  margin-bottom: 0.25rem;
}

.company {
  header {
    display: flex;
  }
}
